<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding new user</title>
</head>

<body>
    <h2>Booking Form</h2>
    <form method="POST" action="useraded">

        <label>Enter firstname</label><br>
        <input type="text" name="firstname" /><br><br>

        <label>Enter lastname</label><br>
        <input type="text" name="lastname" /><br><br>

        <label>Enter Email</label><br>
        <input type="text" name="email" /><br><br>

        <label>Enter Phone Number</label><br>
        <input type="text" name="phone" /><br><br>

        <label>Enter From Destination</label><br>
        <input type="text" name="fromdestination" /><br><br>

        <label>To Destination</label><br>
        <input type="text" name="todestination" /><br><br>

        <label>Departure Date and Time</label><br>
        <input type="text" name="departuredate" /><br><br>

        <label>Choose Seat Number</label><br>
        <input type="number" name="seatnumber" /><br><br>

        <label>Enter balance</label><br>
        <input type="number" name="balance" /><br><br>

        <input type="submit" value="Submit" />
    </form>
</body>

</html>